<pre>{{ supplierUpdateReqDto.value | json }}</pre>
<div class="p-5">
    <div class="p-d-flex p-jc-center p-ai-center" style="height: 100vh;">
        <button pButton pRipple label="GO BACK" class="mr-2 p-button-secondary" routerLink="/suppliers"></button>
        <h1>Update Supplier Form</h1>
        <form [formGroup]="supplierUpdateReqDto" (ngSubmit)="onUpdate()">
            <div class="row align-items-center">
                <div class="grid">
                    <div class="col-12 md:col-2 md:gy-3">
                        <label for="exampleFormControlInput1" class="form-label">Supplier Name <span
                                class="text-red-600">*</span></label>
                    </div>
                    <div class="col-12 md:col-10 md:gy-3">
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            formControlName="supplierName" pInputText style="width: 100%;">
                    </div>
                    <div class="col-12 md:col-2 md:gy-3">
                        <label for="exampleFormControlInput2" class="form-label">Phone Number <span
                                class="text-red-600">*</span></label>
                    </div>
                    <div class="col-12 md:col-10 md:gy-3">
                        <input type="text" class="form-control" id="exampleFormControlInput2"
                            formControlName="supplierPhone" pInputText style="width: 100%;">
                    </div>
                    <div class="col-12 md:col-2 md:gy-3">
                        <label for="exampleFormControlInput3" class="form-label">Picture <span
                                class="text-red-600">*</span></label>
                    </div>
                    <div class="col-12 md:col-10 md:gy-3">
                        <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]"
                            url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"
                            (onSelect)="fileUpload($event)"></p-fileUpload>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="d-grid gap-2 d-block d-md-block mt-4">
                            <button pButton pRipple label="RESET" class="mr-2 p-button-danger" type="reset"></button>
                            <button pButton pRipple label="SAVE" class="mr-2 p-button-primary" type="submit"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>