<pre>{{ employeeInsertReqDto.value | json }}</pre>
<div class="p-5">
    <div class="p-d-flex p-jc-center p-ai-center" style="height: 100vh;">
        <button pButton pRipple label="GO BACK" class="mr-2 p-button-secondary" routerLink="/employees"></button>
        <h1>Create Employee Form</h1>
        <form [formGroup]="employeeInsertReqDto" (ngSubmit)="onCreate()">
            <div class="row align-items-center">
                <div class="grid">
                    <div class="col-12 md:col-2 md:gy-3">
                        <label for="exampleFormControlInput1" class="form-label">Full Name <span
                                class="text-red-600">*</span></label>
                    </div>
                    <div class="col-12 md:col-10 md:gy-3">
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            formControlName="employeeName" pInputText style="width: 100%;" />
                    </div>
                    <div class="col-12 md:col-2 md:gy-3">
                        <label for="exampleFormControlInput4" class="form-label">Company <span
                                class="text-red-600">*</span></label>
                    </div>
                    <div class="col-12 md:col-10 md:gy-3">
                        <p-dropdown [options]="companies" optionLabel="companyName" optionValue="id"
                            formControlName="companyId" id="exampleFormControlInput6" placeholder="Choose Company"></p-dropdown>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="d-grid gap-2 d-block d-md-block mt-4">
                            <button pButton pRipple label="RESET" class="mr-2 p-button-danger" type="reset"></button>
                            <button pButton pRipple label="SUBMIT" class="mr-2 p-button-primary" type="submit"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>