<div class="container mt-3 mt-md-4">
    <button pButton pRipple label="CREATE CHECKOUT" class="mb-3 p-button" routerLink="/checkouts/new"></button>
    <h1>Checkout List</h1>
    <p-table [value]="checkouts" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Code</th>
                <th scope="col">Checkout Type</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Location</th>
                <th scope="col">Asset General</th>
                <th scope="col">Options</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-checkouts let-i="rowIndex">
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ checkouts.checkoutCode }}</td>
                <td>{{ checkouts.typeName }}</td>
                <td>{{ checkouts.employeeName }}</td>
                <td>{{ checkouts.locationName }}</td>
                <td>{{ checkouts.assetGeneral }}</td>
                <td>
                    <button pButton pRipple label="VIEW" routerLink="/checkouts/detail/{{checkouts.checkoutCode}}"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>